:root {
    --body-min-width: 450px;
    --body-max-width: 800px;
    --theme-sidebarwidth: 230px;
    --relsep: " »";
    --relsep2: " |";
}

@import url("./body-styles.css");
@import url("./basic.css");
